*{
    font-family: sans-serif;
}

            /*  Navigatio bar css */
.heading,ul,il{
    display: inline;
    
    
}
nav{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    width: 1300px;

    
}
a{
    text-decoration: none;
    color: inherit;

}

.heading{
    color: white;

}
ul{
    color: rgb(219, 243, 84);
    font-size: 22px;
    padding-left: 57%;
    cursor: pointer;

}
il:hover{
    color: white;
}

             /* Body css */
body{
    position: relative;
    padding-top: 80px; /*  this line used for stop nav and body overlay */  

}

.anchor{
    background-color: rgb(69, 241, 69);
    display: inline;
    padding: 5px;
    border-radius: 10px;
}
.anchor:hover{
color: blueviolet;
}




                  /*  Background design */
.background{
    position: absolute;
    background-image: url(image/img1.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: blur(2px);
    z-index: -1;

}



                   /* Centent css */
.html,.css{
    background-color: aqua;
    z-index: 10;
    border-radius: 15px;
    width: 800px;
    height: 740px;
    scroll-margin-top:80px;
}
.introhtml,.introcss{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 750px;
    padding: 15px;
}
.javascript{
    background-color: white;
    z-index: 10;
    border-radius: 15px;
    width: 800px;
    height: 740px;
    scroll-margin-top: 80px;
}
.introjav{
    background-color: aqua;
    color: black;
    border-radius: 20px;
    width: 750px;
    padding: 15px;
}

                  /*  Creator contact Popup css */

.creator{
    
    position: fixed;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    left: 87%;              /*  Popup tigger button design */
    z-index: 20;
    top: 85%;
    background-color: chartreuse;
   }

   .creator:hover{
    border: 5px solid;
    border-color: red;             /*  Popup tigger button design  for change done if mouse over the button */
    background-color: yellow;
}
   

  .box{
    display: inline;           /*  Div of Popup box */
   }

#model{
    background-color: rgba(253, 250, 48, 0.993);
    width: 200px;
    height: 260px;             /* Popup box Design */
    left: 80%;
    top:20%;
    border-radius: 10px;
   }
 

#model #clo{ 
       width: 60px;
       height: 30px;                  /*  close button Design */
       background-color: red;
       font-size: 18px;
       }


                      /*  Footer css */                    

.footer{
    
    background-color: white;
    padding: 15px;
    border: 15px solid black;
    border-radius: 8px;
    width: 1250px;
    
}                      


